@{
    ViewData["Title"] = "Create Employee";
}
@model Employee
<h1 class="bg-info text-white">Create Employee</h1>
<a asp-action="Index" class="btn btn-primary">Back</a>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Designation"></label>
        <input asp-for="Designation" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Department"></label>
        <input asp-for="DepartmentId" type="text" class="form-control" />
    </div>
    <br />
    <button type="submit">Submit</button>

</form>

